<!-- views/laundry/dashboard.ejs -->
<h2> Your laundry Dashboard </h2>

<ul>
  <li> <a href="/launderers"> Find a Launderer </a> </li>
  <li> <a href="/logout"> Log Out </a> </li>
</ul>


<% if (currentUserInfo.isLaunderer) { %>
  <h3> <%=user%>, You are a launderer </h3>

  <p>
    Your laundering fee is
    <b>$<%= currentUserInfo.fee %>.</b>
  </p>


<% } else { %>
  <h3> Want to become a launderer? </h3>

  <form action="/launderers" method="post">
    <div>
      <label for="fee-input"> Set your fee </label>
      <input type="number" name="fee" id="fee-input">
    </div>

    <button> Become a Launderer </button>
  </form>
<% } %>

<h3> Pending Pickups </h3>

<ul>
  <% pickups.forEach((onePickup) => { %>
    <li>
      <h4> <%= onePickup.pickupDate %> </h4>

      <ul>
        <li> <b>User</b>: <%= onePickup.user.name %> </li>
        <li> <b>Launderer</b>: <%= onePickup.launderer.name %> </li>
        <%if (onePickup.pickupDate.getTime() < actualDate.getTime()){%>
          <li><b style="background-color:red"> Losing by date, bad launderer! </b></li>
        <%}%>
      </ul>
      <form class="" action="/laundry-pickups/delete" method="post">
          <button type="submit" name="button" value="<%= onePickup._id %>">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
<hr>

<% if (currentUserInfo.isLaunderer) { %>
<h4>Do you want to stop being a Launderer?</h4>
<form class="" action="/launderers/<%=currentUserInfo._id%>/delete" method="post">
  <div class="">
    <label for="nolaunder">Click if you are tired of wash</label>
    <input type="checkbox" name="nolaunder" value="nolaunder" id="nolaunder">
    <button>Liberate de fregaos</button>
  </div>
</form>
<% } %>
